/*
Colors used:
Primary Color (Black): #000000;
Secondary Color (White): #ffffff;
*/

* {
  box-sizing: border-box;
}

header {
  background-color: #000000;
  /* padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 15px;
	padding-left: 20px; */
  border-bottom: 3px solid #000000;

}

nav {
  float: right;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  font-size: 2em;
}

#hero {
  background-color: #000000;
  /* padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 15px;
	padding-left: 20px; */
  display: inline-block;
  width: 100%;
}

body {

  background-color: rgb(0, 0, 0);

  font-family: 'Space Mono', sans-serif;

  font-size: 18px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #ffffff;
  padding: 10px;

  background-color: #000000;
  padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 15px;
	padding-left: 20px;

border-bottom: 3px solid #000000;


  h1, h2, h3, h4 {
  line-height: 1.2;
  }
  h1 {
  font-size: 2.0em;
  font-weight: 700;
  }

  h2 {
  font-size: 1.5em;
  font-weight: 700;
  }

  h3 {
  font-size: 1.25em;
  font-weight: 400;
  }
  h4 {
  font-size: 1.0em;
  font-weight: 400;
  }

  }

      #centered {
        width:200px; /* this is the width of the center column (px, em or %) */
        text-align:left; /*resets the text alignment back to left */
        margin:0 auto; /* auto centers the div in standards complaint browsers */
      }

  a {
  color: #ffffff;
  text-decoration: none; /* No underlining */
  }

  a:hover,
  a:focus  {
  text-decoration: underline; /* Underlining when hovering over a link */
  }
  
  a:active { /* selected link */
  color: #ffffff;
  }

  .button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ffffff;
  color: #000000; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 25px solid #000000; /* width of the border, type, color */
  transition: 0.2s opacity;

  .button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  }

  img {
    width: 100%;
  }

  a {/* element selector */
    color: red;
  }

  #my-link {/* id selector */
    color: green;  
  }

  .my-link {/* class selector */
    color: blue;  
  }

}

#hero span {
  background-color: #000000;
  padding: 20px 0;
 
  }

#contact {
  font-size: 14px;
}

.logo {
  max-width: 250px;
  max-height: 99px;
}

.logo1 >img {
  width: 25px;
  margin-right: 15px;
}

.me {
  width: 500px;
  background-color: #000000;
  padding-top: 50px;
	padding-bottom: 15px;
  border-bottom: 3px solid #000000;  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  display:  block;
    margin-left: auto;
    margin-right: auto;

}

.eaupics {
  width: 1000px;
  background-color: #000000;
  padding-top: 50px;
	padding-bottom: 15px;
  border-bottom: 3px solid #000000;  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
}

#projectpic {
  width: 50%;
}

/* layout styling  */
.container {
  padding: 20px;
}

/* NEW STYLE  */

    #work .row {
      padding-bottom: 16px;
    }

    .row::after {
      content: "";
      clear: both;
      display: table;
    }

/* styling for col- */

[class*="col-"] {
  float: left;
	padding-right: 50px;
	padding-left: 50px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-md-6 {
  width: 50%;
}

.text-block {
  width: 100%;
  margin: auto;
  max-width: 688px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) 

    {
      header {
        text-align: unset;
        padding: 20px 0 13px;

        
      }

            /* NEW STYLE */
            #constraints-flex {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
            }

      nav {
        width: auto;
        float: right;
        margin-top: 4px;
      }
    }

    .col-md-6 {
      width: 50%;
    }


    #hero span {
        display: block;
      }


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}

    .constraints {
      margin: 16px 0 32px 0;
    }

    .constraints-flex-img {
      width: 100%;
      text-align: center;
      padding: 0 20px;
    }

    .col-lg-3 {
      width: 25%;
    }

    .col-lg-4 {
      width: 33.33%;
    }

    .col-lg-5 {
      width: 41.66%;
    }

    .col-lg-6 {
      width: 50%;
    }

    .col-lg-7 {
      width: 58.33%;
    }

    .text-block {
      width: 100%;
      margin: auto;
      max-width: 688px;
    }